h2 {
  color: rgb(248, 224, 188);
}

.imagenesProductos {
  margin-top: 3%;
  margin-bottom: 2.5%;
  display: inline-block;
  flex-wrap: wrap;
  flex: content;
  justify-content: space-between;
  text-align: center;
}
.imagenes {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

.titulo {
  text-align: center;
}
.descripcion {
  text-align: center;
}
.tarjetita {
  width: 300px;
  height: auto;
  justify-content: center;
  border: solid;
  border-radius: 10%;
  margin: 50px;
}

.navBar {
  background-color: rgb(233, 161, 165);
}
.logoTalita {
  background-image: url("/src/assets/logo.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
}

li {
  display: inline-block;
  justify-content: space-around;
  font-size: x-large;
  padding-left: 30px;
  color: rgb(248, 224, 188);
}

.bienvenidos {
  font-size: xx-large;
  color: rgb(233, 161, 165);
  margin-top: 10px;
  text-align: center;
}
.cartWidget {
  display: inline-block;
  font-size: x-large;
  padding-left: 30px;
  color: rgb(248, 224, 188);
}
.cartWidget h6 {
  display: inline-block;
  margin-left: 8px;
  color: rgb(248, 224, 188);
}
